<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
  </head>

  <body style="background-color: rgb(225, 225, 225)">
    <nav class="navlinks">
      <div class="logo">
        <img src="../dashbord/python logo.png" alt="" />
        <h2>logo</h2>
      </div>
      <div class="nav">
        <a href="">Home</a><a href="">Contact</a><a href="">About us</a>
      </div>
      <div class="btns">
        <button type="button" class="btn btn-primary">Primary</button>
        <button type="button" class="btn btn-outline-warning">Warning</button>
      </div>
    </nav>
    <div class="adm">
      <a class="admcard" href="student">
        <img src="student.png " alt="" />
        <div class="stud">
          <h3>Student</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit,
            ratione praesentium fugiat beatae saepe aut deleniti ipsam, totam
            repellendus quos necessitatibus! Facere itaque vel mollitia,
            pariatur totam numquam, sequi nihil exercitationem ex odio rem porro
            repudiandae corporis.
          </p>
        </div>
      </a>
      <a class="admcard" href="institute">
        <img src="student.png " alt="" />
        <div class="stud">
          <h3>Institute</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit,
            ratione praesentium fugiat beatae saepe aut deleniti ipsam, totam
            repellendus quos necessitatibus! Facere itaque vel mollitia,
            pariatur totam numquam, sequi nihil exercitationem ex odio rem porro
            repudiandae corporis.
          </p>
        </div>
      </a>
      <a class="admcard" href="notice">
        <img src="student.png " alt="" />
        <div class="stud">
          <h3>Notice</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit,
            ratione praesentium fugiat beatae saepe aut deleniti ipsam, totam
            repellendus quos necessitatibus! Facere itaque vel mollitia,
            pariatur totam numquam, sequi nihil exercitationem ex odio rem porro
            repudiandae corporis.
          </p>
        </div>
      </a>
      <a class="admcard" href="marks">
        <img src="student.png " alt="" />
        <div class="stud">
          <h3>Marks</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit,
            ratione praesentium fugiat beatae saepe aut deleniti ipsam, totam
            repellendus quos necessitatibus! Facere itaque vel mollitia,
            pariatur totam numquam, sequi nihil exercitationem ex odio rem porro
            repudiandae corporis.
          </p>
        </div>
      </a>
      
    </div>
  </body>
</html>
